Repository akka/akka-grpc, pull requests merged in 2020-07, with the labels that each got.

#1047 Update sbt-paradox-akka to 0.34
  docs/src/main/paradox/buildtools/gradle.md
  docs/src/main/paradox/server/akka-http.md
  project/plugins.sbt
Labels: update

#1042 feat: autodetect scala version for akka grpc runtime
  gradle-plugin/.editorconfig
  gradle-plugin/build.gradle
  gradle-plugin/gradle/wrapper/gradle-wrapper.properties
  gradle-plugin/gradlew.properties
  gradle-plugin/src/main/groovy/akka/grpc/gradle/AkkaGrpcPlugin.groovy
  gradle-plugin/src/main/groovy/akka/grpc/gradle/AkkaGrpcPluginExtension.groovy
  gradle-plugin/src/test/groovy/func/GradleCompatibilitySpec.groovy
  gradle-plugin/src/test/groovy/helper/BaseSpec.groovy
  gradle-plugin/src/test/groovy/helper/ScalaWrapperPlugin.groovy
  gradle-plugin/src/test/groovy/unit/ApplySpec.groovy
  gradle-plugin/src/test/groovy/unit/DependenciesSpec.groovy
Labels: gradle, update

#1055 Update scalapb to 0.10.7
  project/plugins.sbt
Labels: update

#1054 Auto-detect the language in the gradle plugin
  gradle-plugin/src/main/groovy/akka/grpc/gradle/AkkaGrpcPlugin.groovy
  gradle-plugin/src/main/groovy/akka/grpc/gradle/AkkaGrpcPluginExtension.groovy
  gradle-plugin/src/test/groovy/helper/BaseSpec.groovy
  gradle-plugin/src/test/groovy/unit/ApplySpec.groovy
  plugin-tester-java/build.gradle
  plugin-tester-java/gradle/wrapper/gradle-wrapper.properties
Labels: gradle

#1056 Disable Java compilation when a Gradle project only has Scala sources
  .travis.yml
  gradle-plugin/src/main/groovy/akka/grpc/gradle/AkkaGrpcPlugin.groovy
  gradle-plugin/src/test/groovy/unit/ApplySpec.groovy
  plugin-tester-scala/build.gradle
  plugin-tester-scala/src/main/java/Empty.java
Labels: gradle

#1059 Avoid generating duplicate imports in scala clients
  codegen/src/main/twirl/templates/ScalaClient/Client.scala.txt
  project/Common.scala
Labels: codegen

#1063 chore: rework ci
  .travis.yml
  gradle-plugin/src/main/groovy/akka/grpc/gradle/AkkaGrpcPlugin.groovy
  gradle-plugin/src/main/groovy/akka/grpc/gradle/AkkaGrpcPluginExtension.groovy
  plugin-tester-java/.editorconfig
  plugin-tester-java/build.gradle
  plugin-tester-java/settings.gradle
  plugin-tester-scala/.editorconfig
  plugin-tester-scala/README.adoc
  plugin-tester-scala/README.md
  plugin-tester-scala/build.gradle
  plugin-tester-scala/gradle.properties
  plugin-tester-scala/settings.gradle
Labels: gradle

#1065 Remove the unused AkkaGrpcClientFactory
  runtime/src/main/mima-filters/1.0.0.backwards.excludes/1065-remove-akkaGrpcClientFactory.backwards.excludes
  runtime/src/main/scala/akka/grpc/internal/AkkaGrpcClientFactory.scala
Labels: enhancement

#1069 fix: scala version autodetect
  gradle-plugin/src/main/groovy/akka/grpc/gradle/AkkaGrpcPlugin.groovy
  gradle-plugin/src/test/groovy/unit/ApplySpec.groovy
Labels: gradle

#1073 Update org.eclipse.jgit to 5.8.1.202007141445-r
  project/plugins.sbt
Labels: update

#1072 Upgrade protobuf-gradle-plugin to 0.8.12
  gradle-plugin/build.gradle
Labels: gradle

#1075 Gradle plugin should add maven repositories.
  docs/src/main/paradox/buildtools/gradle.md
  gradle-plugin/src/main/groovy/akka/grpc/gradle/AkkaGrpcPlugin.groovy
  gradle-plugin/src/test/groovy/helper/BaseSpec.groovy
  gradle-plugin/src/test/groovy/unit/ApplySpec.groovy
  plugin-tester-java/build.gradle
  plugin-tester-scala/build.gradle
Labels: gradle

#1079 fix: implicit scala-library version
  gradle-plugin/src/main/groovy/akka/grpc/gradle/AkkaGrpcPlugin.groovy
  gradle-plugin/src/test/groovy/unit/ApplySpec.groovy
Labels: gradle

#1080 fix: multi project cross dependencies
  gradle-plugin/src/main/groovy/akka/grpc/gradle/AkkaGrpcPlugin.groovy
Labels: gradle
