Repository akka/akka-grpc, pull requests merged in 2020-05, with the labels that each got.

#952 Bumps jetty agent to 2.0.10
  CONTRIBUTING.md
  benchmark-java/build.sbt
  docs/src/main/paradox/buildtools/gradle.md
  docs/src/main/paradox/buildtools/maven.md
  docs/src/main/paradox/server/walkthrough.md
  plugin-tester-java/build.gradle
  plugin-tester-java/pom.xml
  plugin-tester-scala/build.gradle
  plugin-tester-scala/pom.xml
  project/ProjectExtensions.scala
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/build.sbt
Labels: sbt

#951 Publish -codegen for Scala 2.13
  .travis.yml
  codegen/src/main/scala/akka/grpc/gen/javadsl/Method.scala
  codegen/src/main/scala/akka/grpc/gen/javadsl/Service.scala
  codegen/src/main/scala/akka/grpc/gen/scaladsl/Service.scala
Labels: codegen

#955 Avoid ManagedChannel in API used by generated code
  codegen/src/main/twirl/templates/JavaClient/Client.scala.txt
  codegen/src/main/twirl/templates/ScalaClient/Client.scala.txt
  runtime/src/main/mima-filters/0.8.4.backwards.excludes/remove-managedchannel-from-internalstableapi.backwards.excludes
  runtime/src/main/scala/akka/grpc/internal/ClientState.scala
  runtime/src/main/scala/akka/grpc/internal/RequestBuilderImpl.scala
  runtime/src/test/scala/akka/grpc/internal/ClientStateSpec.scala
Labels: codegen

#958 Update compilerplugin, scalapb-runtime to 0.10.3
  project/plugins.sbt
Labels: update

#966 Update akka-http, akka-http-core, ... to 10.1.12
  project/Dependencies.scala
Labels: update

#944 Add sonatype staging for scripted tests
  project/Common.scala
  sbt-plugin/src/sbt-test/gen-java/01-gen-basic-java/build.sbt
  sbt-plugin/src/sbt-test/gen-java/02-server-reflection/build.sbt
  sbt-plugin/src/sbt-test/gen-java/03-no-java-package/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/01-gen-basic-server/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/02-multiple-services/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/03-test-config/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/04-server-reflection/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/05-no-java-package/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/06-compatibility-plugins/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/07-gen-basic-server-with-akka-26/build.sbt
Labels: sbt

#964 Support JDK 1.8.0_252
  .travis.yml
  benchmark-java/src/main/java/akka/grpc/benchmarks/Utils.java
  interop-tests/src/test/java/akka/grpc/interop/AkkaGrpcJavaClientTester.java
  interop-tests/src/test/scala/akka/grpc/interop/AkkaGrpcScalaClientTester.scala
  project/ProjectExtensions.scala
  runtime/src/main/mima-filters/0.8.4.backwards.excludes/ssl-context.backwards.excludes
  runtime/src/main/resources/reference.conf
  runtime/src/main/scala/akka/grpc/GrpcClientSettings.scala
  runtime/src/main/scala/akka/grpc/SSLContextUtils.scala
  runtime/src/main/scala/akka/grpc/internal/NettyClientUtils.scala
  runtime/src/test/scala/akka/grpc/GrpcClientSettingsSpec.scala
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/src/test/scala/akka/grpc/AkkaGrpcClientTester.scala
Labels: sbt, update

#971 Update sbt-scalafmt to 2.4.0
  project/plugins.sbt
Labels: update

#981 Update akka-http-cors to 1.0.0
  project/Dependencies.scala
Labels: update

#975 Add sbt-reproducible-builds
  build.sbt
  project/plugins.sbt
Labels: update

#959 Update scalafmt-core to 2.5.2
  .scalafmt.conf
  codegen/src/main/scala/akka/grpc/gen/scaladsl/ScalaCodeGenerator.scala
  interop-tests/src/main/scala/akka/grpc/interop/AkkaGrpcServerScala.scala
  interop-tests/src/test/scala/akka/grpc/interop/AkkaHttpServerProviderScala.scala
  maven-plugin/src/main/scala/akka/grpc/maven/GenerateMojo.scala
  plugin-tester-java/src/test/scala/example/myapp/helloworld/JGreeterServiceSpec.scala
  plugin-tester-scala/src/main/scala/example/myapp/helloworld/AuthenticatedGreeterServer.scala
  plugin-tester-scala/src/test/scala/example/myapp/helloworld/GreeterServiceSpec.scala
  project/CopyrightHeader.scala
  project/GrpcVersionSyncCheckPlugin.scala
  runtime/src/main/scala/akka/grpc/GrpcClientSettings.scala
  runtime/src/main/scala/akka/grpc/internal/AbstractGrpcProtocol.scala
  runtime/src/main/scala/akka/grpc/internal/CancellationBarrierGraphStage.scala
  runtime/src/main/scala/akka/grpc/internal/MetadataImpl.scala
  runtime/src/main/scala/akka/grpc/internal/ServerReflectionImpl.scala
  runtime/src/main/scala/akka/grpc/javadsl/GrpcExceptionHandler.scala
  runtime/src/main/scala/akka/grpc/javadsl/MetadataBuilder.scala
  runtime/src/main/scala/akka/grpc/scaladsl/GrpcMarshalling.scala
  runtime/src/test/scala/akka/grpc/internal/MetadataImplSpec.scala
Labels: codegen, maven
