Repository akka/akka-grpc, pull requests merged in 2020-03, with the labels that each got.

#829 Grpc-web support
  codegen/src/main/twirl/templates/JavaServer/Handler.scala.txt
  codegen/src/main/twirl/templates/ScalaCommon/Marshallers.scala.txt
  codegen/src/main/twirl/templates/ScalaServer/Handler.scala.txt
  docs/src/main/paradox/server/grpc-web.md
  docs/src/main/paradox/server/index.md
  interop-tests/src/test/scala/akka/grpc/interop/AkkaHttpServerProviderScala.scala
  interop-tests/src/test/scala/akka/grpc/interop/GrpcInteropSpec.scala
  interop-tests/src/test/scala/akka/grpc/scaladsl/GrpcExceptionHandlerSpec.scala
  interop-tests/src/test/scala/akka/grpc/scaladsl/GrpcMarshallingSpec.scala
  plugin-tester-java/build.gradle
  plugin-tester-java/pom.xml
  plugin-tester-java/src/main/java/example/myapp/CombinedServer.java
  plugin-tester-java/src/test/scala/example/myapp/helloworld/ErrorReportingSpec.scala
  plugin-tester-scala/build.gradle
  plugin-tester-scala/pom.xml
  plugin-tester-scala/src/main/scala/example/myapp/CombinedServer.scala
  plugin-tester-scala/src/test/scala/example/myapp/helloworld/ErrorReportingSpec.scala
  project/Dependencies.scala
  runtime/src/main/mima-filters/0.7.3.backwards.excludes/829-grpc-web.backwards.excludes
  runtime/src/main/scala/akka/grpc/Codecs.scala
  runtime/src/main/scala/akka/grpc/Grpc.scala
  runtime/src/main/scala/akka/grpc/GrpcProtocol.scala
  runtime/src/main/scala/akka/grpc/internal/AbstractGrpcProtocol.scala
  runtime/src/main/scala/akka/grpc/internal/GrpcEntityHelpers.scala
  runtime/src/main/scala/akka/grpc/internal/GrpcProtocolNative.scala
  runtime/src/main/scala/akka/grpc/internal/GrpcProtocolWeb.scala
  runtime/src/main/scala/akka/grpc/internal/GrpcRequestHelpers.scala
  runtime/src/main/scala/akka/grpc/internal/GrpcResponseHelpers.scala
  runtime/src/main/scala/akka/grpc/javadsl/GrpcExceptionHandler.scala
  runtime/src/main/scala/akka/grpc/javadsl/GrpcMarshalling.scala
  runtime/src/main/scala/akka/grpc/javadsl/ServiceHandler.scala
  runtime/src/main/scala/akka/grpc/javadsl/WebHandler.scala
  runtime/src/main/scala/akka/grpc/scaladsl/GrpcExceptionHandler.scala
  runtime/src/main/scala/akka/grpc/scaladsl/GrpcMarshalling.scala
  runtime/src/main/scala/akka/grpc/scaladsl/ServiceHandler.scala
  runtime/src/main/scala/akka/grpc/scaladsl/WebHandler.scala
  runtime/src/test/java/akka/grpc/javadsl/ConcatOrNotFoundTest.java
  runtime/src/test/scala/akka/grpc/CodecsSpec.scala
  runtime/src/test/scala/akka/grpc/internal/AkkaDiscoveryNameResolverSpec.scala
  runtime/src/test/scala/akka/grpc/scaladsl/GrpcExceptionHandlerSpec.scala
Labels: grpc-web, server

#860 Update grpc-core, grpc-interop-testing, ... to 1.28.0
  benchmark-java/build.sbt
  gradle-plugin/src/main/groovy/akka/grpc/gradle/AkkaGrpcPlugin.groovy
  plugin-tester-java/pom.xml
  plugin-tester-scala/pom.xml
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/build.sbt
Labels: gradle, sbt, update

#866 Update akka-discovery, akka-slf4j, ... to 2.5.30
  project/Dependencies.scala
Labels: update

#865 Update compilerplugin, scalapb-runtime to 0.10.2
  project/plugins.sbt
Labels: update

#867 bump sbt-protoc
  project/plugins.sbt
Labels: update

#870 Update org.eclipse.jgit to 5.7.0.202003110725-r
  project/plugins.sbt
Labels: update

#873 codegen: fallback to protobuf package when no java_package is defined
  codegen/src/main/scala/akka/grpc/gen/javadsl/Method.scala
  codegen/src/main/scala/akka/grpc/gen/javadsl/Service.scala
  sbt-plugin/src/sbt-test/gen-java/03-no-java-package/build.sbt
  sbt-plugin/src/sbt-test/gen-java/03-no-java-package/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-java/03-no-java-package/src/main/java/helloworld/GreeterServiceImpl.java
  sbt-plugin/src/sbt-test/gen-java/03-no-java-package/src/main/protobuf/helloworld.proto
  sbt-plugin/src/sbt-test/gen-java/03-no-java-package/test
  sbt-plugin/src/sbt-test/gen-scala-server/05-no-java-package/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/05-no-java-package/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/05-no-java-package/src/main/protobuf/helloworld.proto
  sbt-plugin/src/sbt-test/gen-scala-server/05-no-java-package/src/main/scala/helloworld/GreeterServiceImpl.scala
  sbt-plugin/src/sbt-test/gen-scala-server/05-no-java-package/test
Labels: codegen, sbt

#875 Support multi-module maven builds
  maven-plugin/src/main/maven/plugin.xml
  maven-plugin/src/main/scala/akka/grpc/maven/GenerateMojo.scala
Labels: maven

#877 Correctly deal with conflicting class names
  codegen/src/main/scala/akka/grpc/gen/javadsl/Method.scala
  codegen/src/main/scala/akka/grpc/gen/javadsl/Service.scala
  codegen/src/test/scala/akka/grpc/gen/javadsl/ServiceSpec.scala
  interop-tests/src/main/protobuf/crdt-example.proto
Labels: codegen, pick-next

#878 Don't generate code for external proto's by default
  docs/src/main/paradox/buildtools/sbt.md
  sbt-plugin/src/main/scala/akka/grpc/sbt/AkkaGrpcPlugin.scala
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/03-test-config/build.sbt
Labels: pick-next, sbt

#876 Properly camel-case names with dashes
  codegen/src/main/scala/akka/grpc/gen/javadsl/Service.scala
  codegen/src/test/scala/akka/grpc/gen/javadsl/ServiceSpec.scala
Labels: codegen, java, pick-next

#885 Added ability to specify the protoc version
  maven-plugin/src/main/maven/plugin.xml
  maven-plugin/src/main/scala/akka/grpc/maven/GenerateMojo.scala
Labels: maven

#882 Simplifying and removing excess allocations for CamelCasing
  codegen/src/main/scala/akka/grpc/gen/javadsl/Service.scala
Labels: codegen

#883 Use 'protobuf-src' introduced in sbt-protoc 0.99.29
  docs/src/main/paradox/buildtools/sbt.md
  project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/build.sbt
Labels: sbt, update

#889 fix non-nullary method overrides nullary method
  codegen/src/main/twirl/templates/ScalaClient/Client.scala.txt
Labels: codegen

#824 Less Materializer in the API
  benchmark-java/src/main/java/akka/grpc/benchmarks/driver/LoadWorker.java
  benchmark-java/src/main/java/akka/grpc/benchmarks/qps/AsyncServer.java
  codegen/src/main/twirl/templates/JavaServer/Handler.scala.txt
  codegen/src/main/twirl/templates/ScalaServer/Handler.scala.txt
  docs/src/main/paradox/server/index.md
  interop-tests/src/main/java/akka/grpc/interop/AkkaGrpcClientJava.java
  interop-tests/src/main/scala/akka/grpc/interop/AkkaGrpcClientScala.scala
  interop-tests/src/main/scala/akka/grpc/interop/AkkaGrpcServerScala.scala
  interop-tests/src/test/java/akka/grpc/interop/AkkaGrpcJavaClientTester.java
  interop-tests/src/test/scala/akka/grpc/interop/AkkaGrpcScalaClientTester.scala
  interop-tests/src/test/scala/akka/grpc/interop/AkkaHttpServerProviderScala.scala
  interop-tests/src/test/scala/akka/grpc/interop/GrpcInteropSpec.scala
  interop-tests/src/test/scala/akka/grpc/interop/TestServiceImpl.scala
  plugin-tester-java/src/main/java/example/myapp/CombinedServer.java
  plugin-tester-java/src/main/java/example/myapp/helloworld/GreeterServer.java
  plugin-tester-java/src/main/java/example/myapp/helloworld/PowerGreeterServer.java
  plugin-tester-java/src/test/scala/example/myapp/helloworld/ErrorReportingSpec.scala
  runtime/src/main/mima-filters/0.8.1.backwards.excludes/less-materializer.backwards.excludes
  runtime/src/main/mima-filters/0.8.1.backwards.excludes/serviceHandler
  runtime/src/main/scala/akka/grpc/javadsl/ServerReflection.scala
  runtime/src/main/scala/akka/grpc/scaladsl/ServerReflection.scala
  sbt-plugin/src/sbt-test/gen-java/02-server-reflection/src/main/java/example/myapp/helloworld/Main.java
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/src/main/scala/akka/grpc/TestServiceImpl.scala
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/src/test/scala/akka/grpc/AkkaGrpcClientTester.scala
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/src/test/scala/akka/grpc/GrpcInteropSpec.scala
Labels: codegen, sbt

#893 Update gradle plugin-publish
  gradle-plugin/build.gradle
  scripts/create-release-issue.sh
Labels: gradle
