Repository akka/akka-grpc, pull requests merged in 2020-06, with the labels that each got.

#989 Docs: show dependencies
  docs/src/main/paradox/client/walkthrough.md
  docs/src/main/paradox/server/walkthrough.md
  project/plugins.sbt
Labels: update

#986 Update sbt, scripted-plugin to 1.3.12
  benchmark-java/project/build.properties
  project/build.properties
Labels: update

#972 Update more API's to take a system
  benchmark-java/src/main/java/akka/grpc/benchmarks/driver/LoadClient.java
  benchmark-java/src/main/java/akka/grpc/benchmarks/qps/AsyncClient.java
  benchmark-java/src/test/java/akka/grpc/benchmarks/driver/LoadWorkerTest.java
  codegen/src/main/twirl/templates/JavaClient/Client.scala.txt
  codegen/src/main/twirl/templates/ScalaClient/Client.scala.txt
  interop-tests/src/test/java/akka/grpc/interop/AkkaGrpcJavaClientTester.java
  interop-tests/src/test/scala/akka/grpc/interop/AkkaGrpcScalaClientTester.scala
  plugin-tester-java/src/main/java/example/myapp/helloworld/GreeterClient.java
  plugin-tester-java/src/main/java/example/myapp/helloworld/LiftedGreeterClient.java
  plugin-tester-java/src/test/scala/example/myapp/helloworld/JGreeterServiceSpec.scala
  plugin-tester-scala/src/main/scala/example/myapp/helloworld/AuthenticatedGreeterClient.scala
  runtime/src/main/mima-filters/0.8.4.backwards.excludes/more-system-apis.backwards.excludes
  runtime/src/main/mima-filters/1.0.0-M1.backwards.excludes/update-more-apis-to-take-a-system.backwards.excludes
  runtime/src/main/scala/akka/grpc/internal/ClientState.scala
  runtime/src/main/scala/akka/grpc/internal/RequestBuilderImpl.scala
  runtime/src/main/scala/akka/grpc/scaladsl/WebHandler.scala
  sbt-plugin/src/sbt-test/gen-scala-server/07-gen-basic-server-with-akka-26/build.sbt
Labels: codegen, sbt

#992 Make server codegen more deterministic by ensuring service methods ordering #988
  codegen/src/main/scala/akka/grpc/gen/javadsl/Service.scala
  codegen/src/main/scala/akka/grpc/gen/scaladsl/Service.scala
  codegen/src/main/twirl/templates/JavaClient/GenMethodImports.scala.txt
  codegen/src/main/twirl/templates/ScalaClient/Client.scala.txt
Labels: codegen

#996 bump sbt-protoc to invalidate codegen on bump
  project/plugins.sbt
Labels: update

#907 Fix scala version settings
  build.sbt
  project/Dependencies.scala
  project/build.properties
Labels: update

#1000 Update grpc-core, grpc-interop-testing, ... to 1.30.0
  benchmark-java/build.sbt
  gradle-plugin/src/main/groovy/akka/grpc/gradle/AkkaGrpcPlugin.groovy
  plugin-tester-java/pom.xml
  plugin-tester-scala/pom.xml
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/build.sbt
Labels: gradle, sbt, update

#995 Update compilerplugin, scalapb-runtime to 0.10.4
  project/plugins.sbt
  runtime/src/main/scala/akka/grpc/scaladsl/ScalapbProtobufSerializer.scala
Labels: update

#993 Check sbt assembly with akka 2.6
  sbt-plugin/src/sbt-test/gen-scala-server/07-gen-basic-server-with-akka-26/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/07-gen-basic-server-with-akka-26/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/07-gen-basic-server-with-akka-26/test
Labels: sbt

#1007 De-emphasize ALPN
  CONTRIBUTING.md
  README.md
  benchmark-java/build.sbt
  benchmark-java/project/plugins.sbt
  build.sbt
  docs/src/main/paradox/buildtools/gradle.md
  docs/src/main/paradox/buildtools/maven.md
  docs/src/main/paradox/buildtools/sbt.md
  docs/src/main/paradox/deploy.md
  docs/src/main/paradox/server/walkthrough.md
  plugin-tester-java/build.gradle
  plugin-tester-java/pom.xml
  plugin-tester-java/src/main/java/example/myapp/CombinedServer.java
  plugin-tester-java/src/main/java/example/myapp/helloworld/AuthenticatedGreeterServer.java
  plugin-tester-java/src/main/java/example/myapp/helloworld/GreeterClient.java
  plugin-tester-java/src/main/java/example/myapp/helloworld/GreeterServer.java
  plugin-tester-java/src/main/java/example/myapp/helloworld/LiftedGreeterClient.java
  plugin-tester-java/src/main/java/example/myapp/helloworld/PowerGreeterServer.java
  plugin-tester-java/src/main/resources/application.conf
  plugin-tester-java/src/test/scala/example/myapp/helloworld/JGreeterServiceSpec.scala
  plugin-tester-scala/build.gradle
  plugin-tester-scala/pom.xml
  project/ProjectExtensions.scala
  project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-java/01-gen-basic-java/build.sbt
  sbt-plugin/src/sbt-test/gen-java/02-server-reflection/build.sbt
  sbt-plugin/src/sbt-test/gen-java/03-no-java-package/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/01-gen-basic-server/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/02-multiple-services/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/04-server-reflection/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/05-no-java-package/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/06-compatibility-plugins/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/07-gen-basic-server-with-akka-26/build.sbt
Labels: sbt, update

#1016 Downgrade to Scala 2.13.1
  .travis.yml
  project/Common.scala
  project/Dependencies.scala
Labels: update

#1019 Avoid using + in version
  .travis.yml
  build.sbt
  gradle-plugin/build.gradle
  sbt-plugin/src/sbt-test/gen-scala-server/README.md
Labels: gradle, sbt

#1017 Remove now-unneeded actor system converter
  codegen/src/main/twirl/templates/ScalaServer/Handler.scala.txt
  runtime/src/main/mima-filters/1.0.0-M1.backwards.excludes/toClassic.backwards.excludes
  runtime/src/main/scala/akka/grpc/scaladsl/GrpcExceptionHandler.scala
Labels: codegen

#1021 Mark akka-grpc 1.0.0 as 'Supported'
  README.md
  docs/src/main/paradox/overview.md
  project/project-info.conf
Labels: pick-next

#1029 Update org.eclipse.jgit to 5.8.0.202006091008-r
  project/plugins.sbt
Labels: update

#1032 Update to ScalaPB 0.10.6 and support running in a sandboxed classloader.
  benchmark-java/build.sbt
  codegen/src/main/scala/akka/grpc/gen/Logging.scala
  project/ReflectiveCodeGen.scala
  project/plugins.sbt
  sbt-plugin/src/main/scala/akka/grpc/sbt/AkkaGrpcPlugin.scala
Labels: codegen, sbt, update

#1039 Formatting
  codegen/src/main/scala/akka/grpc/gen/CodeGenerator.scala
  codegen/src/main/scala/akka/grpc/gen/Logging.scala
  runtime/src/main/scala/akka/grpc/internal/AkkaNettyGrpcClientGraphStage.scala
  runtime/src/main/scala/akka/grpc/internal/GrpcProtocolNative.scala
  runtime/src/main/scala/akka/grpc/internal/RequestBuilderImpl.scala
  runtime/src/test/scala/akka/grpc/internal/NettyClientUtilsSpec.scala
Labels: development

#1043 Update sbt, scripted-plugin to 1.3.13
  benchmark-java/project/build.properties
  project/build.properties
Labels: update

#1035 Update grpc-core, grpc-interop-testing, ... to 1.30.2
  benchmark-java/build.sbt
  gradle-plugin/src/main/groovy/akka/grpc/gradle/AkkaGrpcPlugin.groovy
  plugin-tester-java/pom.xml
  plugin-tester-scala/pom.xml
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/build.sbt
Labels: gradle, sbt, update

#1041 fix: test compilation and run tests with gradle
  .travis.yml
  plugin-tester-scala/README.adoc
  plugin-tester-scala/build.gradle
  plugin-tester-scala/gradle.properties
  plugin-tester-scala/gradle/wrapper/gradle-wrapper.properties
  plugin-tester-scala/src/test/scala/example/myapp/helloworld/ErrorReportingSpec.scala
  plugin-tester-scala/src/test/scala/example/myapp/helloworld/GreeterServiceSpec.scala
  project/Dependencies.scala
Labels: gradle, update

#1036 Update sbt-assembly to 0.15.0
  project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/01-gen-basic-server/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/07-gen-basic-server-with-akka-26/project/plugins.sbt
Labels: sbt, update

#1045 Update sbt-dynver to 4.1.0
  project/plugins.sbt
Labels: update
