Repository akka/akka-grpc, pull requests merged in 2020-10, with the labels that each got.

#1127 Documentation for running a gRPC service on Kubernetes
  docs/src/main/paradox/server/index.md
  docs/src/main/paradox/server/kubernetes.md
  project/build.properties
Labels: update

#1132 Generate version.conf file in runtime jar
  .travis.yml
  build.sbt
  project/VersionGenerator.scala
Labels: sbt

#1087 Update to Akka HTTP 10.2.0
  interop-tests/src/main/scala/akka/grpc/interop/AkkaGrpcServerScala.scala
  interop-tests/src/test/scala/akka/grpc/interop/AkkaHttpServerProviderScala.scala
  interop-tests/src/test/scala/akka/grpc/scaladsl/LoadBalancingIntegrationSpec.scala
  interop-tests/src/test/scala/akka/grpc/scaladsl/NonBalancingIntegrationSpec.scala
  plugin-tester-java/src/test/scala/example/myapp/helloworld/ErrorReportingSpec.scala
  plugin-tester-scala/src/main/scala/example/myapp/CombinedServer.scala
  plugin-tester-scala/src/main/scala/example/myapp/helloworld/AuthenticatedGreeterServer.scala
  plugin-tester-scala/src/main/scala/example/myapp/helloworld/GreeterServer.scala
  plugin-tester-scala/src/main/scala/example/myapp/helloworld/PowerGreeterServer.scala
  plugin-tester-scala/src/test/scala/example/myapp/helloworld/ErrorReportingSpec.scala
  project/Dependencies.scala
  runtime/src/main/scala/akka/grpc/javadsl/RouteUtils.scala
  runtime/src/main/scala/akka/grpc/scaladsl/WebHandler.scala
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/src/test/scala/akka/grpc/GrpcInteropSpec.scala
Labels: sbt, update

#768 Require akka 2.6
  benchmark-java/src/main/java/akka/grpc/benchmarks/driver/LoadClient.java
  interop-tests/src/test/scala/akka/grpc/scaladsl/GrpcExceptionHandlerSpec.scala
  interop-tests/src/test/scala/akka/grpc/scaladsl/GrpcMarshallingSpec.scala
  interop-tests/src/test/scala/akka/grpc/scaladsl/LoadBalancingIntegrationSpec.scala
  interop-tests/src/test/scala/akka/grpc/scaladsl/NonBalancingIntegrationSpec.scala
  plugin-tester-java/build.gradle
  plugin-tester-java/src/test/scala/example/myapp/helloworld/ErrorReportingSpec.scala
  plugin-tester-java/src/test/scala/example/myapp/helloworld/JGreeterServiceSpec.scala
  plugin-tester-scala/build.gradle
  plugin-tester-scala/src/main/scala/example/myapp/CombinedServer.scala
  plugin-tester-scala/src/main/scala/example/myapp/helloworld/AuthenticatedGreeterServer.scala
  plugin-tester-scala/src/main/scala/example/myapp/helloworld/GreeterClient.scala
  plugin-tester-scala/src/main/scala/example/myapp/helloworld/GreeterServer.scala
  plugin-tester-scala/src/main/scala/example/myapp/helloworld/LiftedGreeterClient.scala
  plugin-tester-scala/src/main/scala/example/myapp/helloworld/PowerGreeterServer.scala
  plugin-tester-scala/src/main/scala/example/myapp/helloworld/PowerGreeterServiceImpl.scala
  plugin-tester-scala/src/test/scala/example/myapp/helloworld/ErrorReportingSpec.scala
  plugin-tester-scala/src/test/scala/example/myapp/helloworld/GreeterServiceSpec.scala
  project/Dependencies.scala
  runtime/src/main/scala/akka/grpc/internal/AkkaNettyGrpcClientGraphStage.scala
  runtime/src/main/scala/akka/grpc/internal/CancellationBarrierGraphStage.scala
  runtime/src/main/scala/akka/grpc/internal/GrpcResponseHelpers.scala
  runtime/src/main/scala/akka/grpc/internal/RequestBuilderImpl.scala
  runtime/src/main/scala/akka/grpc/internal/UnaryCallAdapter.scala
  runtime/src/test/scala/akka/grpc/internal/ClientStateSpec.scala
  runtime/src/test/scala/akka/grpc/scaladsl/GrpcExceptionHandlerSpec.scala
  sbt-plugin/src/sbt-test/gen-scala-server/01-gen-basic-server/build.sbt
Labels: codegen, sbt, update

#1089 Update akka-http-cors to 1.1.0
  project/Dependencies.scala
Labels: update
