Repository akka/akka-grpc, pull requests merged in 2021-04, with the labels that each got.

#1311 Update protobuf-java to 3.15.7
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-java/01-gen-basic-java/build.sbt
  sbt-plugin/src/sbt-test/gen-java/04-crash-on-keywords/build.sbt
Labels: sbt, update

#1313 Update maven-core, maven-plugin-api to 3.8.1
  project/Dependencies.scala
Labels: update

#1320 Update protobuf-java to 3.15.8
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-java/01-gen-basic-java/build.sbt
  sbt-plugin/src/sbt-test/gen-java/04-crash-on-keywords/build.sbt
Labels: sbt, update

#1322 Update sbt-protoc to 1.0.3
  project/plugins.sbt
Labels: update

#1250 public grpc method descriptors in generated code #1273
  codegen/src/main/twirl/templates/ScalaClient/Client.scala.txt
  codegen/src/main/twirl/templates/ScalaCommon/ApiTrait.scala.txt
Labels: codegen

#1319 Update grpc-core, grpc-interop-testing, ... to 1.37.0
  benchmark-java/build.sbt
  plugin-tester-java/pom.xml
  plugin-tester-scala/pom.xml
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/build.sbt
Labels: sbt, update

#1328 Update sbt, scripted-plugin to 1.5.1
  .travis.yml
  benchmark-java/build.sbt
  benchmark-java/project/build.properties
  build.sbt
  project/AutomaticModuleName.scala
  project/Common.scala
  project/CopyrightHeader.scala
  project/GrpcVersionSyncCheckPlugin.scala
  project/ReflectiveCodeGen.scala
  project/SbtMavenPlugin.scala
  project/Whitesource.scala
  project/build.properties
  sbt-plugin/src/main/scala/akka/grpc/sbt/AkkaGrpcPlugin.scala
  sbt-plugin/src/sbt-test/gen-java/01-gen-basic-java/build.sbt
  sbt-plugin/src/sbt-test/gen-java/01-gen-basic-java/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-java/02-server-reflection/build.sbt
  sbt-plugin/src/sbt-test/gen-java/02-server-reflection/project/build.properties
  sbt-plugin/src/sbt-test/gen-java/02-server-reflection/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-java/03-no-java-package/build.sbt
  sbt-plugin/src/sbt-test/gen-java/03-no-java-package/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-java/04-crash-on-keywords/build.sbt
  sbt-plugin/src/sbt-test/gen-java/04-crash-on-keywords/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/01-gen-basic-server/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/01-gen-basic-server/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/02-multiple-services/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/02-multiple-services/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/03-test-config/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/04-server-reflection/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/04-server-reflection/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/05-no-java-package/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/05-no-java-package/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/06-compatibility-plugins/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/06-compatibility-plugins/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/07-gen-basic-server-with-akka-26/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/07-gen-basic-server-with-akka-26/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/09-scalapb-customizations/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/10-scalapb-validate/build.sbt
Labels: sbt, update

#1330 List the com.google.protobuf protos version in BuildInfo
  build.sbt
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-java/01-gen-basic-java/build.sbt
  sbt-plugin/src/sbt-test/gen-java/04-crash-on-keywords/build.sbt
Labels: sbt, update

#1329 Update compilerplugin, scalapb-runtime to 0.11.2
  project/plugins.sbt
  runtime/src/main/mima-filters/1.1.1.backwards.excludes/scalapb-update.excludes
  sbt-plugin/src/sbt-test/gen-scala-server/01-gen-basic-server/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/07-gen-basic-server-with-akka-26/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/10-scalapb-validate/project/plugins.sbt
Labels: sbt, update
