Repository akka/akka-grpc, pull requests merged in 2021-02, with the labels that each got.

#1252 Update sbt, scripted-plugin to 1.4.7
  benchmark-java/project/build.properties
  project/build.properties
Labels: update

#1253 support ScalaPB package/file-level customization
  codegen/src/main/scala/akka/grpc/gen/CodeGenerator.scala
  codegen/src/main/scala/akka/grpc/gen/scaladsl/ScalaCodeGenerator.scala
  docs/src/main/paradox/proto.md
  sbt-plugin/src/main/scala/akka/grpc/sbt/AkkaGrpcPlugin.scala
  sbt-plugin/src/sbt-test/gen-scala-server/09-scalapb-customizations/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/09-scalapb-customizations/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/09-scalapb-customizations/src/main/protobuf/helloworld.proto
  sbt-plugin/src/sbt-test/gen-scala-server/09-scalapb-customizations/src/main/protobuf/package.proto
  sbt-plugin/src/sbt-test/gen-scala-server/09-scalapb-customizations/src/main/scala/example/myapp/helloworld/GreeterServiceImpl.scala
  sbt-plugin/src/sbt-test/gen-scala-server/09-scalapb-customizations/test
Labels: codegen, sbt

#1251 Update compilerplugin, scalapb-runtime to 0.10.11
  project/plugins.sbt
Labels: update

#1264 Fix scalapb-validate setup instructions by bumping sbt-protoc
  benchmark-java/build.sbt
  docs/src/main/paradox/apidesign.md
  project/ReflectiveCodeGen.scala
  project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/10-scalapb-validate/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/10-scalapb-validate/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/10-scalapb-validate/src/main/protobuf/helloworld.proto
  sbt-plugin/src/sbt-test/gen-scala-server/10-scalapb-validate/src/main/scala/example/myapp/Main.scala
  sbt-plugin/src/sbt-test/gen-scala-server/10-scalapb-validate/src/main/scala/example/myapp/helloworld/GreeterServiceImpl.scala
  sbt-plugin/src/sbt-test/gen-scala-server/10-scalapb-validate/test
Labels: sbt, update

#1269 Update protobuf-java to 3.15.1
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-java/01-gen-basic-java/build.sbt
  sbt-plugin/src/sbt-test/gen-java/04-crash-on-keywords/build.sbt
Labels: sbt, update

#1268 Update paradox-theme-akka, ... to 0.38
  project/plugins.sbt
Labels: update

#1270 Relativize Maven plugin files
  .travis.yml
  maven-plugin/src/main/maven/plugin.xml
  maven-plugin/src/main/scala/akka/grpc/maven/AbstractGenerateMojo.scala
  plugin-tester-scala/pom.xml
Labels: maven

#1272 Update protobuf-java to 3.15.2
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-java/01-gen-basic-java/build.sbt
  sbt-plugin/src/sbt-test/gen-java/04-crash-on-keywords/build.sbt
Labels: sbt, update

#1274 Relativize Maven plugin files (#1270)
  .travis.yml
  maven-plugin/src/main/maven/plugin.xml
  maven-plugin/src/main/scala/akka/grpc/maven/AbstractGenerateMojo.scala
  plugin-tester-scala/pom.xml
Labels: maven

#1278 Update protobuf-java to 3.15.3
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-java/01-gen-basic-java/build.sbt
  sbt-plugin/src/sbt-test/gen-java/04-crash-on-keywords/build.sbt
Labels: sbt, update

#1271 Update grpc-core, grpc-interop-testing, ... to 1.36.0
  benchmark-java/build.sbt
  plugin-tester-java/pom.xml
  plugin-tester-scala/pom.xml
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/build.sbt
Labels: sbt, update

#1277 Cleanup Akka HTTP dependencies and disable auto-bumping
  .scala-steward.conf
  project/Dependencies.scala
Labels: update
