Repository akka/akka-grpc, pull requests merged in 2021-06, with the labels that each got.

#1367 Update sbt, scripted-plugin to 1.5.3
  benchmark-java/project/build.properties
  project/build.properties
  sbt-plugin/src/sbt-test/gen-java/02-server-reflection/project/build.properties
Labels: sbt, update

#1363 Encode logfile option with URLEncoder
  codegen/src/main/scala/akka/grpc/gen/Main.scala
  gradle-plugin/src/main/groovy/akka/grpc/gradle/AkkaGrpcPlugin.groovy
Labels: codegen, gradle

#1368 Update sbt-jmh to 0.4.3
  project/plugins.sbt
Labels: update

#1374 Wip fix base marshaller √
  runtime/src/main/scala/akka/grpc/internal/Marshallers.scala
Labels: update

#1383 Update sbt-assembly to 1.0.0
  project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/01-gen-basic-server/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/07-gen-basic-server-with-akka-26/project/plugins.sbt
Labels: sbt, update

#1379 Add proto3 optionals support.
  codegen/src/main/scala/akka/grpc/gen/javadsl/JavaCodeGenerator.scala
  codegen/src/main/scala/akka/grpc/gen/scaladsl/ScalaCodeGenerator.scala
Labels: codegen

#1385 Update protobuf-java to 3.17.3
  project/Dependencies.scala
Labels: update

#1384 Update org.eclipse.jgit to 5.12.0.202106070339-r
  project/plugins.sbt
Labels: update

#1387 Update grpc-core, grpc-interop-testing, ... to 1.38.1
  benchmark-java/build.sbt
  plugin-tester-java/pom.xml
  plugin-tester-scala/pom.xml
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/build.sbt
Labels: sbt, update

#1388 Update slf4j-api to 1.7.31
  project/Dependencies.scala
Labels: update

#1392 Update compilerplugin, scalapb-runtime to 0.11.4
  project/plugins.sbt
Labels: update

#1386 Update sbt, scripted-plugin to 1.5.4
  benchmark-java/project/build.properties
  project/build.properties
  sbt-plugin/src/sbt-test/gen-java/02-server-reflection/project/build.properties
Labels: sbt, update

#1394 Update sbt-reproducible-builds to 0.28
  project/plugins.sbt
Labels: update

#1372 Strict unmarshalling
  codegen/src/main/twirl/templates/JavaServer/Handler.scala.txt
  codegen/src/main/twirl/templates/ScalaServer/Handler.scala.txt
  interop-tests/src/test/scala/akka/grpc/scaladsl/GrpcExceptionHandlerSpec.scala
  project/Dependencies.scala
  runtime/src/main/mima-filters/2.0.0.backwards.excludes/1372-strict-unmarshalling.excludes
  runtime/src/main/scala/akka/grpc/GrpcProtocol.scala
  runtime/src/main/scala/akka/grpc/internal/AbstractGrpcProtocol.scala
  runtime/src/main/scala/akka/grpc/internal/Codec.scala
  runtime/src/main/scala/akka/grpc/internal/GrpcProtocolWeb.scala
  runtime/src/main/scala/akka/grpc/internal/Gzip.scala
  runtime/src/main/scala/akka/grpc/internal/Identity.scala
  runtime/src/main/scala/akka/grpc/javadsl/GrpcMarshalling.scala
  runtime/src/main/scala/akka/grpc/scaladsl/GrpcMarshalling.scala
Labels: codegen, update
