Repository akka/akka-grpc, pull requests merged in 2021-03, with the labels that each got.

#1282 Update protobuf-java to 3.15.4
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-java/01-gen-basic-java/build.sbt
  sbt-plugin/src/sbt-test/gen-java/04-crash-on-keywords/build.sbt
Labels: sbt, update

#1283 Update protobuf-java to 3.15.5
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-java/01-gen-basic-java/build.sbt
  sbt-plugin/src/sbt-test/gen-java/04-crash-on-keywords/build.sbt
Labels: sbt, update

#1287 Update sbt, scripted-plugin to 1.4.8
  .gitignore
  .travis.yml
  benchmark-java/project/build.properties
  project/build.properties
Labels: update

#1284 Convenience builder to concat implementation and reflection (#1266)
  codegen/src/main/twirl/templates/JavaServer/Handler.scala.txt
  codegen/src/main/twirl/templates/ScalaServer/Handler.scala.txt
  docs/src/main/paradox/server/reflection.md
  sbt-plugin/src/sbt-test/gen-java/02-server-reflection/src/main/java/example/myapp/helloworld/EchoServiceImpl.java
  sbt-plugin/src/sbt-test/gen-java/02-server-reflection/src/main/java/example/myapp/helloworld/Main.java
  sbt-plugin/src/sbt-test/gen-java/02-server-reflection/src/main/protobuf/helloworld.proto
  sbt-plugin/src/sbt-test/gen-scala-server/04-server-reflection/src/main/protobuf/helloworld.proto
  sbt-plugin/src/sbt-test/gen-scala-server/04-server-reflection/src/main/scala/example/myapp/helloworld/EchoServiceImpl.scala
  sbt-plugin/src/sbt-test/gen-scala-server/04-server-reflection/src/main/scala/example/myapp/helloworld/Main.scala
Labels: codegen, sbt

#1296 Update org.eclipse.jgit to 5.11.0.202103091610-r
  project/plugins.sbt
Labels: update

#1298 Update sbt-protoc to 1.0.2
  project/plugins.sbt
Labels: update

#1305 Make it clear that Jetty ALPN is not supported anymore
  docs/src/main/paradox/buildtools/gradle.md
  docs/src/main/paradox/buildtools/maven.md
  docs/src/main/paradox/buildtools/sbt.md
Labels: docs

#1306 Update grpc-core, grpc-interop-testing, ... to 1.36.1
  benchmark-java/build.sbt
  plugin-tester-java/pom.xml
  plugin-tester-scala/pom.xml
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/build.sbt
Labels: sbt, update

#1291 Update protobuf-java to 3.15.6
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-java/01-gen-basic-java/build.sbt
  sbt-plugin/src/sbt-test/gen-java/04-crash-on-keywords/build.sbt
Labels: sbt, update

#1302 Update sbt-twirl to 1.5.1
  project/plugins.sbt
Labels: update

#1308 The generated java sources are not compiled when a project has only kotlin sources
  gradle-plugin/src/main/groovy/akka/grpc/gradle/AkkaGrpcPlugin.groovy
  gradle-plugin/src/test/groovy/unit/ApplySpec.groovy
Labels: gradle

#1288 Update sbt, scripted-plugin to 1.4.9
  benchmark-java/project/build.properties
  project/build.properties
Labels: update

#1286 Remove reflection usage in GoogleProtobufSerializer (#1285)
  codegen/src/main/scala/akka/grpc/gen/javadsl/Serializer.scala
  runtime/src/main/scala/akka/grpc/javadsl/GoogleProtobufSerializer.scala
Labels: codegen
