Repository akka/akka-grpc, pull requests merged in 2021-01, with the labels that each got.

#1228 Update grpc-core, grpc-interop-testing, ... to 1.34.1
  benchmark-java/build.sbt
  plugin-tester-java/pom.xml
  plugin-tester-scala/pom.xml
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/build.sbt
Labels: sbt, update

#1236 Generate method names with backquotes for reserved keywords in Scala
  codegen/src/main/scala/akka/grpc/gen/scaladsl/Method.scala
  codegen/src/main/twirl/templates/ScalaClient/Client.scala.txt
  codegen/src/main/twirl/templates/ScalaCommon/ApiTrait.scala.txt
  codegen/src/main/twirl/templates/ScalaServer/Handler.scala.txt
  codegen/src/main/twirl/templates/ScalaServer/PowerApiTrait.scala.txt
  plugin-tester-scala/src/main/proto/echo.proto
  plugin-tester-scala/src/main/scala/example/myapp/echo/EchoServiceImpl.scala
Labels: codegen

#1235 Fail fast on language keywords in method names
  codegen/src/main/scala/akka/grpc/gen/javadsl/Method.scala
  codegen/src/main/scala/akka/grpc/gen/scaladsl/Method.scala
  sbt-plugin/src/sbt-test/gen-java/04-crash-on-keywords/build.sbt
  sbt-plugin/src/sbt-test/gen-java/04-crash-on-keywords/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-java/04-crash-on-keywords/src/main/protobuf/helloworld.proto
  sbt-plugin/src/sbt-test/gen-java/04-crash-on-keywords/test
Labels: codegen, sbt

#1233 Telemetry hook
  codegen/src/main/twirl/templates/JavaServer/Handler.scala.txt
  codegen/src/main/twirl/templates/ScalaServer/Handler.scala.txt
  interop-tests/src/test/scala/akka/grpc/scaladsl/TelemetrySpec.scala
  runtime/src/main/scala/akka/grpc/internal/TelemetrySpi.scala
Labels: codegen, update

#1243 Update akka-http, akka-http-core, ... to 10.2.3
  project/Dependencies.scala
Labels: update

#1239 Update grpc-core, grpc-interop-testing, ... to 1.35.0
  benchmark-java/build.sbt
  plugin-tester-java/pom.xml
  plugin-tester-scala/pom.xml
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/build.sbt
Labels: sbt, update

#1241 ScalaPB 1.0 and document use of local protoc for OSX ARM
  build.sbt
  docs/src/main/paradox/buildtools/sbt.md
  project/Common.scala
  project/Dependencies.scala
  project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-java/01-gen-basic-java/build.sbt
  sbt-plugin/src/sbt-test/gen-java/04-crash-on-keywords/build.sbt
Labels: sbt, update

#1231 prepare for ScalaPB 0.10.10
  codegen/src/main/scala/akka/grpc/gen/javadsl/JavaCodeGenerator.scala
  codegen/src/main/scala/akka/grpc/gen/javadsl/Method.scala
  codegen/src/main/scala/akka/grpc/gen/javadsl/Service.scala
  codegen/src/main/scala/akka/grpc/gen/scaladsl/ScalaCodeGenerator.scala
  codegen/src/main/scala/akka/grpc/gen/scaladsl/Service.scala
  maven-plugin/src/main/scala/akka/grpc/maven/AbstractGenerateMojo.scala
  project/plugins.sbt
Labels: codegen, maven, update

#1245 Update protobuf-java to 3.14.0
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-java/01-gen-basic-java/build.sbt
  sbt-plugin/src/sbt-test/gen-java/04-crash-on-keywords/build.sbt
Labels: sbt, update

#1223 Akka HTTP-based client with 'persistent' connections
  interop-tests/src/test/resources/application.conf
  interop-tests/src/test/scala/akka/grpc/scaladsl/NonBalancingIntegrationSpec.scala
  runtime/src/main/scala/akka/grpc/internal/AkkaHttpClientUtils.scala
Labels: codegen, update

#1249 Update paradox-theme-akka, ... to 0.37
  project/plugins.sbt
Labels: update
