Repository akka/akka-grpc, pull requests merged in 2022-08, with the labels that each got.

#1643 fix: allow messages with the same name from different packages
  build.sbt
  codegen/src/main/scala/akka/grpc/gen/javadsl/Method.scala
  codegen/src/main/scala/akka/grpc/gen/javadsl/Serializer.scala
  codegen/src/main/scala/akka/grpc/gen/scaladsl/Method.scala
  codegen/src/main/scala/akka/grpc/gen/scaladsl/Serializer.scala
  sbt-plugin/src/sbt-test/gen-java/05-duplicate-messages-different-packages/build.sbt
  sbt-plugin/src/sbt-test/gen-java/05-duplicate-messages-different-packages/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-java/05-duplicate-messages-different-packages/src/main/java/helloworld/GreeterServiceImpl.java
  sbt-plugin/src/sbt-test/gen-java/05-duplicate-messages-different-packages/src/main/protobuf/a/other.proto
  sbt-plugin/src/sbt-test/gen-java/05-duplicate-messages-different-packages/src/main/protobuf/b/other.proto
  sbt-plugin/src/sbt-test/gen-java/05-duplicate-messages-different-packages/src/main/protobuf/helloworld.proto
  sbt-plugin/src/sbt-test/gen-java/05-duplicate-messages-different-packages/test
  sbt-plugin/src/sbt-test/gen-scala-server/11-duplicate-messages-different-packages/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/11-duplicate-messages-different-packages/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/11-duplicate-messages-different-packages/src/main/protobuf/a/other.proto
  sbt-plugin/src/sbt-test/gen-scala-server/11-duplicate-messages-different-packages/src/main/protobuf/b/other.proto
  sbt-plugin/src/sbt-test/gen-scala-server/11-duplicate-messages-different-packages/src/main/protobuf/helloworld.proto
  sbt-plugin/src/sbt-test/gen-scala-server/11-duplicate-messages-different-packages/src/main/scala/helloworld/GreeterServiceImpl.scala
  sbt-plugin/src/sbt-test/gen-scala-server/11-duplicate-messages-different-packages/test
Labels: codegen, sbt

#1645 Use fully qualified name for Metadata in PowerApi trait
  codegen/src/main/twirl/templates/ScalaServer/PowerApiTrait.scala.txt
Labels: codegen

#1663 Drop direct scala-collection-compat dependency
  project/Dependencies.scala
Labels: update

#1644 Update grpc-core, grpc-interop-testing, ... to 1.48.1
  benchmark-java/build.sbt
  gradle-plugin/src/main/groovy/akka/grpc/gradle/AkkaGrpcPluginExtension.groovy
  interop-tests/src/test/scala/akka/grpc/interop/TestServiceImpl.scala
  plugin-tester-java/pom.xml
  plugin-tester-scala/pom.xml
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/src/main/scala/akka/grpc/TestServiceImpl.scala
Labels: gradle, sbt, update

#1651 Fix base64 request decoding for grpc-web-text
  project/Dependencies.scala
  runtime/src/main/mima-filters/2.1.5.backwards.excludes/base64-decoding.excludes
  runtime/src/main/scala/akka/grpc/internal/AbstractGrpcProtocol.scala
  runtime/src/main/scala/akka/grpc/internal/DecodeBase64.scala
  runtime/src/main/scala/akka/grpc/internal/GrpcProtocolWeb.scala
  runtime/src/test/scala/akka/grpc/internal/DecodeBase64Spec.scala
  runtime/src/test/scala/akka/grpc/internal/GrpcProtocolWebTextSpec.scala
Labels: update

#1540 Simplify Rich error model api
  docs/src/main/paradox/client/details.md
  docs/src/main/paradox/server/details.md
  interop-tests/src/test/java/example/myapp/helloworld/grpc/RichErrorNativeImpl.java
  interop-tests/src/test/scala/akka/grpc/scaladsl/RichErrorModelSpec.scala
  project/Dependencies.scala
  runtime/src/main/mima-filters/2.1.5.backwards.excludes/inheritGetStatus.excludes
  runtime/src/main/mima-filters/2.1.5.backwards.excludes/rich-metadata-raw.excludes
  runtime/src/main/scala/akka/grpc/GrpcServiceException.scala
  runtime/src/main/scala/akka/grpc/scaladsl/Metadata.scala
Labels: update

#1670 Update scala reserved words, handle already defined method names like `close`
  codegen/src/main/scala/akka/grpc/gen/scaladsl/Method.scala
Labels: codegen

#1671 Update protobuf-gradle-plugin
  gradle-plugin/build.gradle
Labels: gradle
