Repository akka/akka-grpc, pull requests merged in 2022-05, with the labels that each got.

#1612 Update grpc-core, grpc-interop-testing, ... to 1.46.0
  benchmark-java/build.sbt
  plugin-tester-java/pom.xml
  plugin-tester-scala/pom.xml
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/build.sbt
Labels: sbt, update

#1611 Update protobuf-java to 3.20.1
  gradle-plugin/src/main/groovy/akka/grpc/gradle/AkkaGrpcPluginExtension.groovy
  maven-plugin/src/main/maven/plugin.xml
  project/Dependencies.scala
Labels: maven, gradle, update

#1516 build: use +~ for cross-building
  .github/workflows/build-test.yml
  project/Common.scala
Labels: update

#1615 Sync gRPC versions between the Gradle plugin and the rest of the project.
  gradle-plugin/src/main/groovy/akka/grpc/gradle/AkkaGrpcPluginExtension.groovy
  project/VersionSyncCheckPlugin.scala
Labels: gradle

#1619 Update paradox-theme-akka, ... to 0.44
  project/plugins.sbt
Labels: update
