Repository akka/akka-grpc, pull requests merged in 2022-10, with the labels that each got.

#1694 Scala 2.12.17 & 2.13.10
  .github/workflows/publish.yml
  project/Dependencies.scala
  project/build.properties
Labels: update

#1695 Update to Akka 2.7.0-M5, Akka HTTP 10.4.0-M2
  interop-tests/src/test/scala/akka/grpc/scaladsl/GrpcMarshallingSpec.scala
  plugin-tester-java/build.gradle
  plugin-tester-scala/build.gradle
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-scala-server/07-gen-basic-server-with-akka-27/build.sbt
Labels: sbt, update

#1699 nowarn for never used different for 2.12 vs 2.13
  codegen/src/main/scala/akka/grpc/gen/CodeGenerator.scala
  project/Common.scala
Labels: codegen

#1702 Update to Akka 2.7.0, Akka HTTP 10.4.0
  plugin-tester-java/build.gradle
  plugin-tester-scala/build.gradle
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-scala-server/07-gen-basic-server-with-akka-27/build.sbt
Labels: sbt, update

#1704 Update sbt-header to 5.8.0
  project/plugins.sbt
Labels: update

#1703 Update sbt-ci-release to 1.5.11
  project/plugins.sbt
Labels: update

#1700 Update sbt-assembly to 2.0.0
  project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/01-gen-basic-server/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/07-gen-basic-server-with-akka-27/project/plugins.sbt
Labels: sbt, update
