Repository akka/akka-grpc, pull requests merged in 2023-10, with the labels that each got.

#1847 build: Disable unidoc
  build.sbt
  project/plugins.sbt
Labels: update

#1839 bump: Akka 2.9.0-M2, Akka HTTP 10.6.0-M1
  build.sbt
  docs/src/main/paradox/client/configuration.md
  docs/src/main/paradox/deploy.md
  docs/src/main/paradox/server/akka-http.md
  docs/src/main/paradox/whygrpc.md
  plugin-tester-java/build.gradle
  plugin-tester-java/pom.xml
  plugin-tester-scala/build.gradle
  plugin-tester-scala/pom.xml
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-scala-server/02-multiple-services/src/main/scala/example/myapp/Main.scala
  sbt-plugin/src/sbt-test/gen-scala-server/07-gen-basic-server-with-akka-27/build.sbt
  sbt-plugin/src/sbt-test/scala-2_13/01-basic-client-server/build.sbt
  sbt-plugin/src/sbt-test/scala3/01-basic-client-server/build.sbt
Labels: sbt, update

#1849 bump: protobuf 3.21.12
  gradle-plugin/src/main/groovy/akka/grpc/gradle/AkkaGrpcPluginExtension.groovy
  maven-plugin/src/main/maven/plugin.xml
  project/Dependencies.scala
Labels: maven, gradle, update

#1850 build: Akka 2.9.3-M3 and publish to Akka repo
  .github/workflows/publish.yml
  benchmark-java/build.sbt
  benchmark-java/project/plugins.sbt
  build.sbt
  docs/release-train-issue-template.md
  docs/src/main/paradox/client/walkthrough.md
  docs/src/main/paradox/server/walkthrough.md
  gradle-plugin/build.gradle
  plugin-tester-java/build.gradle
  plugin-tester-java/pom.xml
  plugin-tester-java/settings.gradle
  plugin-tester-scala/build.gradle
  plugin-tester-scala/pom.xml
  plugin-tester-scala/settings.gradle
  project/Common.scala
  project/Dependencies.scala
  project/Publish.scala
  sbt-plugin/src/sbt-test/gen-java/01-gen-basic-java/build.sbt
  sbt-plugin/src/sbt-test/gen-java/01-gen-basic-java/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-java/02-server-reflection/build.sbt
  sbt-plugin/src/sbt-test/gen-java/02-server-reflection/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-java/03-no-java-package/build.sbt
  sbt-plugin/src/sbt-test/gen-java/03-no-java-package/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-java/04-crash-on-keywords/build.sbt
  sbt-plugin/src/sbt-test/gen-java/04-crash-on-keywords/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-java/05-duplicate-messages-different-packages/build.sbt
  sbt-plugin/src/sbt-test/gen-java/05-duplicate-messages-different-packages/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/01-gen-basic-server/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/01-gen-basic-server/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/02-multiple-services/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/02-multiple-services/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/03-test-config/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/03-test-config/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/04-server-reflection/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/04-server-reflection/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/05-no-java-package/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/05-no-java-package/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/06-compatibility-plugins/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/06-compatibility-plugins/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/07-gen-basic-server-with-akka-27/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/07-gen-basic-server-with-akka-27/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/09-scalapb-customizations/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/09-scalapb-customizations/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/10-scalapb-validate/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/10-scalapb-validate/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/11-duplicate-messages-different-packages/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/11-duplicate-messages-different-packages/project/plugins.sbt
  sbt-plugin/src/sbt-test/scala-2_13/01-basic-client-server/build.sbt
  sbt-plugin/src/sbt-test/scala-2_13/01-basic-client-server/project/plugins.sbt
  sbt-plugin/src/sbt-test/scala3/01-basic-client-server/build.sbt
  sbt-plugin/src/sbt-test/scala3/01-basic-client-server/project/plugins.sbt
Labels: gradle, sbt, update

#1859 bump: Scala 2.13.12
  benchmark-java/build.sbt
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-java/01-gen-basic-java/build.sbt
  sbt-plugin/src/sbt-test/gen-java/02-server-reflection/build.sbt
  sbt-plugin/src/sbt-test/gen-java/03-no-java-package/build.sbt
  sbt-plugin/src/sbt-test/gen-java/04-crash-on-keywords/build.sbt
  sbt-plugin/src/sbt-test/gen-java/05-duplicate-messages-different-packages/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/01-gen-basic-server/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/02-multiple-services/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/03-test-config/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/04-server-reflection/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/05-no-java-package/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/06-compatibility-plugins/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/07-gen-basic-server-with-akka-27/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/09-scalapb-customizations/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/10-scalapb-validate/build.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/11-duplicate-messages-different-packages/build.sbt
  sbt-plugin/src/sbt-test/scala-2_13/01-basic-client-server/build.sbt
Labels: sbt, update

#1846 bump: sbt-jmh 0.4.6 (was 0.4.5)
  project/plugins.sbt
Labels: update

#1845 bump: sbt, scripted-plugin 1.9.6 (was 1.9.4)
  benchmark-java/project/build.properties
  project/build.properties
Labels: update

#1840 bump: sbt-assembly 2.1.3 (was 2.1.1)
  project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/01-gen-basic-server/project/plugins.sbt
  sbt-plugin/src/sbt-test/gen-scala-server/07-gen-basic-server-with-akka-27/project/plugins.sbt
Labels: sbt, update

#1863 bump: Akka 2.9.0
  plugin-tester-java/build.gradle
  plugin-tester-java/pom.xml
  plugin-tester-scala/build.gradle
  plugin-tester-scala/pom.xml
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-scala-server/07-gen-basic-server-with-akka-27/build.sbt
  sbt-plugin/src/sbt-test/scala-2_13/01-basic-client-server/build.sbt
  sbt-plugin/src/sbt-test/scala3/01-basic-client-server/build.sbt
Labels: sbt, update
