Repository akka/akka-grpc, pull requests merged in 2023-04, with the labels that each got.

#1766 bump(docs): sbt-paradox-akka 0.47
  project/plugins.sbt
Labels: update

#1688 Update grpc-core, grpc-interop-testing, ... to 1.53.0
  benchmark-java/build.sbt
  build.sbt
  gradle-plugin/src/main/groovy/akka/grpc/gradle/AkkaGrpcPluginExtension.groovy
  plugin-tester-java/pom.xml
  plugin-tester-scala/pom.xml
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/build.sbt
Labels: gradle, sbt, update

#1770 bump: Scala 3.2.2
  .github/workflows/build-test.yml
  .github/workflows/nightly.yml
  interop-tests/src/main/scala/akka/grpc/interop/AkkaGrpcServerScala.scala
  interop-tests/src/test/scala/akka/grpc/interop/AkkaHttpServerProviderScala.scala
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/scala3/01-basic-client-server/build.sbt
Labels: sbt, update

#1772 fix: More helpful error message when tmpdir is mounted noexec maven
  maven-plugin/src/main/scala/akka/grpc/maven/AbstractGenerateMojo.scala
Labels: maven

#1779 bump: sbt-revolver 0.10.0 (was 0.9.1)
  project/plugins.sbt
Labels: update

#1778 bump: grpc-core, grpc-interop-testing, ... 1.54.1 (was 1.53.0)
  benchmark-java/build.sbt
  gradle-plugin/src/main/groovy/akka/grpc/gradle/AkkaGrpcPluginExtension.groovy
  plugin-tester-java/pom.xml
  plugin-tester-scala/pom.xml
  project/Dependencies.scala
  sbt-plugin/src/sbt-test/gen-scala-server/00-interop/build.sbt
Labels: gradle, sbt, update
